figure {
  margin-left: 0;
}

img {
  width: 400px;
}

table {
  border: 1px solid black;
  border-collapse: separate;
}

td,
th {
  border: 1px solid black;
}

cite {
  font-style: normal;
  quotes: "\00ab""\00bb";
}

cite::before {
  content: open-quote;
}

cite::after {
  content: close-quote;
}

q {
  quotes: "\00ab""\00bb";
}
